.vs/
/Betapet/bin/*
/Betapet/obj/*
/betapet-bot-api/bin/*
/betapet-bot-api/obj/*
/BetapetBot/bin/*
/BetapetBot/obj/*
/BetapetTests/bin/*
/BetapetTests/obj/*
/BetapetTests/BotConfiguration.json
/betapet-bot-api/Properties/launchSettings.json
Properties/launchSettings.json
/ChatNeuralNetworkTrainer/AppSettings.json
/ChatNeuralNetworkTrainer/bin/*
/ChatNeuralNetworkTrainer/obj/*
/ChatBot/bin/*
/ChatBot/obj/*
/ChatBotUser/bin/*
/ChatBotUser/obj/*
/ChatBotTests/bin/*
/ChatBotTests/obj/*